.DS_Store
.git
cloudbuild.yaml
.travis.yml
Dockerfile

npm-debug.log

dist/
node_modules/

.vscode/*
reactfire/**/*.js
!reactfire/babel.config.js

reactfire/**/*.jsx
reactfire/**/*.js.map
reactfire/**/*.jsx.map
reactfire/**/*.d.ts
reactfire/pub/*
reactfire/docs/reactfire-metadata.json
.cache
sample-complex/src/firebase-key.json
