{
  "root": true,
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
