.DS_Store
npm-debug.log

dist/
node_modules/

.vscode/*



reactfire/docs/reactfire-metadata.json
sample-complex/.cache/**
sample-complex/src/firebase-key.json
reactfire/firestore-debug.log
reactfire/pub/**
pub