.DS_Store
npm-debug.log

dist/
node_modules/

.vscode/*


dist
yarn-error.log

example/.cache

# firebase emulator logs
database-debug.log
firestore-debug.log

# npm pack artifacts
reactfire-*.tgz
docs/reference/README.md
