.DS_Store
npm-debug.log

dist/
node_modules/

.vscode/*



reactfire/docs/reactfire-metadata.json
reactfire/firestore-debug.log
reactfire/firebase-debug.log
reactfire/pub/**
pub
yarn-error.log
reactfire/database-debug.log
reactfire/reactfire-*.tgz