language: node_js
node_js:
- '0.10'
- '0.12'
# - stable
sudo: false
install:
- npm install
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- '[ -e credentials.json ] && npm run travis || false'
after_script:
- cat ./tests/coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
