name: Test and publish

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "**/*.md"
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
          check-latest: true
      - name: Get cache directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
            ${{ runner.os }}-
      - name: Install deps
        run: yarn install --frozen-lockfile
      - name: Build
        id: yarn-pack-dir
        run: yarn build && echo "::set-output name=path::$(npm pack .)"
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: reactfire-${{ github.job }}-tgz
          path: ${{ steps.yarn-pack-dir.outputs.path }}
          retention-days: 1
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        node: ["12", "14"]
    name: Test Node.js ${{ matrix.node }} (Ubuntu)
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
      - name: Get cache directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
            ${{ runner.os }}-
      - name: Pull Firebase emulator cache
        uses: actions/cache@v2
        with:
          path: /home/runner/.cache/firebase/emulators
          key: firebase_emulators
      - name: Install deps
        run: yarn install --frozen-lockfile
      - name: 'Download Artifact'
        uses: actions/download-artifact@v2
        with:
          name: reactfire-${{ github.job }}-tgz
          path: reactfire.tgz
      - name: Expand Artifact
        run: tar -xzvf reactfire.tgz && cp -r package/ .
      - name: Run tests
        run: yarn test
  publish:
    runs-on: ubuntu-latest
    name: Publish (NPM)
    needs: test
    if: ${{ github.ref == 'refs/heads/master' || github.event_name == 'release' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
          check-latest: true
      - name: 'Download Artifact'
        uses: actions/download-artifact@v2
        with:
          name: reactfire-${{ github.job }}-tgz
          path: reactfire.tgz
      - name: Expand Artifact
        run: tar -xzvf reactfire.tgz && cp -r package/ .
      - name: Publish
        run: ./publish.sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}